<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RTSPserverIP" value="139.196.217.92"/>
    <add key="RTSPserverPort" value="10554"/>
  </appSettings>
</configuration>